/* import nerko one */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', 'sans-serif';
    font-size: 62.5%;
}

:root{
    /* dark mode */
    --text-color: #e3e3e3;
    --subheading-color: #828282;
    --placeholder-color: #a6a6a6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444;
}

body{
    background: var(--primary-color);
    font-size: 4rem;
}

.header,
.typing-area{
    color: var(--text-color);
}

.header{
    margin-top: 5rem;
    padding: 1rem;
}

.header .title{
    font-size: 2.7rem;
    width: fit-content;
    background-clip: text;
    background: linear-gradient(to right, #648bca, #65d978);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}